.caseGrise
    width: 100%
    height: 300px
    background-color: #e8ebee

    & p
        font-weight: 400

    & div
        display: flex
        justify-content: center

        & hr
            width: 98%
            margin-top: -10px

    & p:nth-of-type(3)
        margin-top: -13px
        